@{
    ViewData["Title"] = "Home Page";
}

<section class="fdb-block fdb-viewport" style="background: url('@Url.Content("~/imgs/idea.jpeg")');">
    <div class="container align-items-center justify-content-center d-flex">
        <div class="row align-items-center text-left">
            <div style='color:white' class="col-12 col-sm-10 col-md-8 col-lg-6">
                <h1>Got Ideas?</h1>
                <h1>We Can Help!</h1>
                <p class="text-h3">We help some creative personal designs to be safeguarded and safely implemented. We provide a quality platform to help people who want to create their own brand and design. In addition, we also provide services to help artists to protect their works from the legal aspect, and use trademarks, patents and copyrights to protect your brand and invention internationally. More for customers can find manufacturers directly agent production, and provide a full range of customer service. When using our services, we guarantee that the designs and ideas below will not flow until you are authorized to register.</p>
                <p class="mt-5">
                    <a href="www.brandstarters.net" class="btn btn-shadow">Start Now</a>
                    <a href="www.brandstarters.net" class="btn btn-white btn-shadow ml-4">Learn More</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="fdb-block bg-dark" style="background: url('@Url.Content("~/imgs/bg_0.svg")');">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Lets Get Started</h1>
            </div>
        </div>

        <div class="row-70"></div>

        <div class="row text-center justify-content-sm-center no-gutters">
            <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto">
                <div class="fdb-box fdb-touch">
                    <h2>Full Service Customer</h2>
                    <p></p>
                    <ol>
                        <li>Trademark</li>
                        <li>Patent Application</li>
                        <li>Manufacturing</li>
                    </ol>
                    <p class="mt-4"><a href="www.brandstarters.net">Learn More &gt;</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
                <div class="fdb-box fdb-touch">
                    <h2>Half Service Customer</h2>
                    <p></p>
                    <ol>

                        <li>Manufacturing</li>
                    </ol>
                    <p class="mt-4"><a href="www.brandstarters.net">Learn More &gt;</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
                <div class="fdb-box fdb-touch">
                    <h2>Basic Service Customer</h2>
                    <p>I only want to sell my product.</p>
                    <p class="mt-4"><a href="www.brandstarters.net">Learn More &gt;</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fdb-block">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-lg-8">
                <h2>Our Partners</h2>
                <p class="text-h3">They were once at Where you are now.</p>
                <div class="mt-5 justify-content-center">
                   
                    <img alt="image" height="30" class="ml-3 mr-3 mb-2 mt-2" src="~/imgs/customers/adobe.svg">
                    <img alt="image" height="30" class="ml-3 mr-3 mb-2 mt-2" src="~/imgs/customers/discovery.svg">
                    <img alt="image" height="30" class="ml-3 mr-3 mb-2 mt-2" src="~/imgs/customers/ebay.svg">
                    <img alt="image" height="30" class="ml-3 mr-3 mb-2 mt-2" src="~/imgs/customers/samsung.svg">
                    <img alt="image" height="30" class="ml-3 mr-3 mb-2 mt-2" src="~/imgs/customers/orange.svg">
                    <img alt="image" height="30" class="ml-3 mr-3 mb-2 mt-2" src="~/imgs/customers/salesforce.svg">
                </div>
            </div>
        </div>
    </div>
</section>