@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}


<section class="fdb-block backphoto" style="background: url('@Url.Content("~/imgs/book2.jpeg")');">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8 col-md-8 col-lg-8 col-xl-7 text-center">
                    <div class="fdb-box fdb-touch">
                        <div class="row">
                            <div class="col">
                            
                                <h1>Log In</h1>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">

                                <input asp-for="Email" placeholder="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">

                                <input asp-for="Password" class="form-control mb-1" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <button class="btn" type="submit">Log in</button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <p>
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </p>
                            </div>
                           
                        </div>
                </div>
            </div>
        </div>
        </form>
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
